.jogos {
    list-style: none;
    display: flex;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0;
    justify-content: space-between;
}
.jogos li {
    list-style: none;
    color: aliceblue;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 

}
.jogos li:hover {
    background-color: rgba(104, 104, 104, 0.664);
    border-radius: 10px;margin: 5px;
}
.jogos .ativo {
    background-color: rgba(104, 104, 104, 0.664);
    border-radius: 10px;margin: 5px;
}
.conteudoJogos {
    display: grid; 
    justify-content: center;
    gap: 20px; 
    padding-bottom: 10px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    grid-template-columns: 90px 90px 90px;
}
.jogos-imagem {
    width: 90px; 
    height: 90px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgb(240, 248, 255, 0.1); 
    transition: transform 0.3s ease-in-out; 
    scroll-snap-align: center;
}
.Conteudo {
    margin-top: 20px;
}
.conteudoConquista {
    list-style: none;
    padding: 0px;
    margin-bottom: 10px;
}
.conquista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;background-color: rgba(87, 87, 87, 0.281);
    border-radius: 20px;
}
.img-conquista {
    border-radius: 30px;
    width: 60px;
    height: 60px;
}
.conteudoConquista li {
    margin-bottom: 10px;
}
.conquista h1 {
    color: aliceblue;
    font-size: 1em;
    font-weight: 300;
}
.conquista p {
    margin: 10px;
    color: aliceblue;
    font-style: italic;
}