.jogos {
    margin-left: 10px;
    margin-left: 10px;
    width: 95vw;
    display: flex;
    justify-content: center;
}
ul {
    gap: 0;
}
.jogos li {
    list-style: none;
    color: aliceblue;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}
.jogos li:hover {
    background-color: rgba(104, 104, 104);
    border-radius: 10px;
    margin: 5px;
}
.conteudoJogos {
    display: grid; 
    justify-content: center;
    gap: 20px; 
    padding-bottom: 10px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    grid-template-columns: 90px 90px 90px;
    min-height: 45vh;
    max-height: 47vh;
    margin-bottom: 15px;
}
.jogos-imagem {
    width: 90px; 
    height: 90px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgb(240, 248, 255, 0.1); 
    transition: transform 0.3s ease-in-out; 
    scroll-snap-align: center;
}
.Conteudo {
    margin-top: 20px;
}
.conteudoConquista {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 45vh;
    max-height: 47vh;
    margin-bottom: 15px;
}
.conquista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: rgb(87 87 87);
    border-radius: 20px;
}
.img-conquista {
    width: 60px;
    height: 60px;
}
.img-jogo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.conteudoConquista li {
    width: 100vw;
}
.conquista h1 {
    color: aliceblue;
    font-size: 1em;
    font-weight: 300;
}
.conquista p {
    margin: 0;
    color: aliceblue;
    font-style: italic;
}
.pet {
    min-height: 45vh;
    max-height: 47vh;
    margin-bottom: 15px;
}