



/*.container {
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: #a3a2a2;
    display: flex;
    justify-content: center; 
    align-items: center;
} NEVEGAÇÃO TOP */
.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 20px;
}
.container ul li {
  list-style: none;
}
/* .tab-img {
    max-height: 30px;
    cursor: pointer;
} */
/* .tab-usuario {
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
} */
/* .tab-logo {
  max-width: 40px;
  max-height: 40px;
} */




/* Alterações */

.conteudoHOME {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgb(0 0 0 / 67%);
    width: 100vw;
    height: 100vh;
}
.navegacaoTOP {
    top: 0;
    z-index: 500;
    background-color: #a3a2a2;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
}
.TOP-usuario {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}
.TOP-logo {
    max-width: 40px;
    max-height: 40px;
}
.TOP-img {
    max-height: 30px;
    cursor: pointer;
}
.navegacaoTOP ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    list-style: none;
}
.navegacaoTOP li {
    padding: 10px 20px 5px 20px;
}
h3 {
    color: aliceblue;
    margin-bottom: 10px;
    font-style: italic;
}
.perfilHOME {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}
.IMG-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid aliceblue;
}
.ranking-User {
    max-width: 30px;
    max-height: 30px;
}
p {
    color: aliceblue;
    padding: 5px;
}
.informacoesHOME {

}
.informacoesHOME ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.informacoesHOME div {
    display: flex    ;
    flex-direction: column;
    align-items: center;
    width: 120px;
}
.navagecaoBOT {
    position: fixed;
    bottom: 0;
    background-color: #a3a2a2;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.navegacaoBOT img {
    max-width: 40px;
    max-height: 40px;
}
.controleBOT {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}
.BOTlista {
    padding: 0px;
    display: flex;
    justify-content: center;
}
.BOTlista img {
    max-width: 90px;padding: 5px;
}
.BOTlista li {
    max-width: 100px;
}
.navegadores {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.navegadores.active {
    filter: brightness(0.5);
}
.jogos {
    background-color: rgba(87, 87, 87);
    border-radius: 10px;
}
.jogos li {
    list-style: none;
    color: aliceblue;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;  
}
.jogos li:hover {
    background-color: rgba(104, 104, 104, 0.664);
    border-radius: 10px;margin: 5px;
}
.ativo {
    background-color: rgba(133, 132, 132);
    border-radius: 10px;margin: 5px;
}
.jogos ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding: 5px;
}
.jogos p {
    margin: 0px;
}