.conteudoHOME {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 100vh;
}
.navegacaoTOP {
    top: 0;
    z-index: 500;
    background-color: #fffcfc;
    display: flex;
    box-shadow: 02px 2px 6px rgba(255, 0, 0, 0.70);
    border-radius: 0px 0px 10px 10px;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
}
.TOP-usuario {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}
.TOP-logo {
    max-width: 40px;
    max-height: 40px;
}
.TOP-img {
    max-height: 30px;
    cursor: pointer;
}
.navegacaoTOP ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    list-style: none;
}
.navegacaoTOP li {
    padding: 10px 20px 5px 20px;
}
h3 {
    color: aliceblue;
    margin-bottom: 10px;
    font-style: italic;
}
.perfilHOME {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.perfilHOME-P {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.IMG-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid aliceblue;
}
.ranking-User {
    max-width: 30px;
    max-height: 30px;
}
.perfilHOME p {
    color: aliceblue;
    padding: 5px;
}
.conteudoHOME h1 {
    color: aliceblue;
    font-size: 1em;
    padding-bottom: 5px;
}
.conteudoHOME h3 {
    color: aliceblue;
    font-size: 1em;
    font-weight: 400;
}
.informacoesHOME ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.informacoesHOME div {
    display: flex    ;
    flex-direction: column;
    align-items: center;
    width: 120px;
}
.navagecaoBOT {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 02px 2px 15px rgba(255, 0, 0, 0.70);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.navegacaoBOT img {
    max-width: 40px;
    max-height: 40px;
}
.controleBOT {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}
.BOTlista {
    padding: 0px;
    display: flex;
    justify-content: center;
}
.BOTlista img {
    max-width: 90px;
    padding: 5px;
}
.BOTlista li {
    max-width: 100px;
}
.navegadores {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.navegadores.active {
    filter: brightness(0.5);
}

