.bottom-nav {
    position: fixed;
    bottom: 0;
    background-color: #a3a2a2;
    padding: 10px 15px; 
    width: 100vw;
    height: 70px;
}
.bottom-nav img {
    max-width: 40px;
    max-height: 40px;
}
.bottom-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navegadores {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.navegadores.active {
    filter: brightness(0.5);
}