.content {
    margin-top: 45px; 
    margin-bottom: 160px; 
    overflow-y: auto; 
    height: calc(100vh - 160px); 
    width: 100%;
    box-sizing: border-box; 
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}