.content {
  /*  margin-top: 80px;  
    padding-bottom: 80px; 
    max-width: 100vw;  
    overflow-x: hidden;  
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: calc(100vh - 160px); /* Mantém o conteúdo dentro dos limites */
    margin-top: 45px; /* Espaço para a NavBar superior */
    margin-bottom: 50px; /* Espaço para a NavBar inferior */
    overflow-y: auto; /* Permite rolagem vertical */
    height: calc(100vh - 160px); /* Define a altura do conteúdo para não ultrapassar as barras */
    width: 100%;
    box-sizing: border-box; /* Garantir que o padding não afete o cálculo da largura */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
