.navagecaoBOT {
    position: fixed;
    bottom: 0;
    background-color: var(--fundo-secundario);
    box-shadow: 1px 1px 10px var(--cor-sombra);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 60px;
    z-index: 1000;
    padding-bottom: env(safe-area-inset-bottom);
}
.navegacaoBOT img {
    max-width: 40px;
    max-height: 40px;
}
.controleBOT {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}
.BOTlista {
    padding: 0px;
    display: flex;
    justify-content: center;
}
.BOTlista img {
    max-width: 90px;
    padding: 5px;
}
.BOTlista li {
    max-width: 100px;
}
.navegadores {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: opacity 0.3s;
}
